* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*zone container di colori diversi*/
.container {
    width: 100%;
    height: 25vh;
}

.blue {
    background-color: #0C325A;
}

.grey {
    background-color: #D3D3D3;
}